/* general styles */

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  min-height: 100vh;
}

p, h1, h2, h3, label, li {
  color: #F9F2CC;
}

li {
  list-style: none;
}

.page-header {
  text-align: center;
  color: #F0C034;
}

.page-div, .bars-div, .about-div {
  height: 100%;
  margin: 0 7% 0 7%;
}

/* home page */

.modal {
  background-color: orange;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-body {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  /* background-color: yellow; */
}

.age-button {
  background-color: lightgray;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 2px 10px 2px 10px;
  margin: 2px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.home-div {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

#NNA-logo {
  height: 80x;
  width: 320px;
  margin-top: 30px;
}

#cheers-glass {
  position: absolute;
  bottom: 15%;
}

/* navbar component */

.nav-wrapper {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
}

.navbar-div {
  display: flex;
  justify-content: center;
  background-color: #F9F2CC;
  padding: 10px 0px 10px 0px;
  /* margin: 0;
  padding: 0;
  position: sticky;
  bottom: 0; */
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-link {
  padding: 15px;
  text-align: center;
}

a {
  color: #4F4F4F;
  text-decoration: none;
  /* font-size: x-large; */
}

/* bars component  */

.logo-div {
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
}

.one-logo-div {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.checkbox-label {
  /* background-color: red; */
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1em;
}

input[type="checkbox"] {
  accent-color: #ffffff;
  margin-right: .5em;
}

.logo-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #d2b48c;
}


/* prizes page */

.prize-list {
  padding: 1em;
  line-height: 1.5;
  font-size: large;
}


/* about page */
.crawl-list > li.list-item {
  margin: 0 0 15px 0;
  /* list-style-image: url(../src/cheers_24.png); */
}

/* .crawl-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* static map page */
.static-map-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.map-img-div {
  max-width: 450px;
  height: 300px;
  height: 50%;
  top: 0;
}

.map-img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-listing-div {
  overflow-y: scroll;
  width: 100%;
  text-align: center;
  height: 50%;
  bottom: 0;
  padding-bottom: 100px;
}

.bar-name {
  color: white;
}

/* map page*/
.map-name, .map-special {
  color: #4F4F4F;
}

.map-icons-div {
  display: flex;
  /* justify-content: space-around; */
}

.map-icon {
  height: 25px;
  padding-right: 15px;
}
